a.nav-element:hover {
    background-color: #A9A9A9;
    cursor: pointer;
}

.darkgray{
  background-color: #D3D3D3;
}

.quote{
  margin-bottom: 33px;
}

.foot{
  text-align: center;
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  background-color: #D3D3D3;
  text-align: center;
}

.foot-post{
  font-size:125%;
}

.main-container{
  min-height:100%;
  position:relative;
  padding-bottom:60px;
}

body {
   margin:0;
   padding:0;
   height:100%;
}

#body {
   padding:10px;
   padding-bottom:60px;
}

/*.top-margin{
  margin-top: 2%;
}*/
