{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Stack Overclone{% endblock %}</title>

    {# jquery, needed here for bootstraps javascript #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
  <body>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <div class="main-container">
      <nav class="nav navbar-nav mynav" role='navigation' id='navbar'>
        <div class="container">
          <a href="{% url 'posts:list' %}"class='nav-element navbar-brand mynav'>Posts</a>
          <a href="#"class='navbar-brand mynav'>|</a>
          <a href="#"class='nav-element navbar-brand mynav'>Events</a>
          <a href="#"class='navbar-brand mynav'>|</a>
          <a href="/contact/"class='nav-element navbar-brand mynav'>Contact</a>
          <a href="#"class='navbar-brand mynav'>|</a>
          <a href="{% url 'poems:list' %}"class='nav-element navbar-brand mynav'>Poetry</a>
          <a href="#"class='navbar-brand mynav'>|</a>
          <a href="/photos/"class='nav-element navbar-brand mynav'>Photo Gallery</a>
          <a href="#"class='navbar-brand mynav'>|</a>
          <a href="#"class='nav-element navbar-brand mynav'>Podcasts</a>
          <a href="#"class='navbar-brand mynav'>|</a>
          <a href="#"class='nav-element navbar-brand mynav'>Videos</a>

          <ul class='login-out nav navbar-nav navbar-right'>
            {% if user.is_authenticated %}
              <div class="home-logout">
                <a class='nav-element navbar-brand mynav' href="{% url 'home' %}">Home</a>
                <a href='#'class='navbar-brand mynav'>|</a>
                <a class='nav-element navbar-brand mynav' href="{% url 'accounts:logout' %}">Log Out</a>
              </div>
            {% else %}
              {% include "accounts/login.html" %}
              <div class="home-logout hidden">
                <a class='nav-element navbar-brand mynav' href="{% url 'home' %}">Home</a>
                <a href='#'class='navbar-brand mynav'>|</a>
                <a class='nav-element navbar-brand mynav' href="{% url 'accounts:logout' %}">Log Out</a>
              </div>
            {% endif %}
          </ul>

        </div>
      </nav>
      <script>
      $('.login-form').on('submit',function(e){
        e.preventDefault();
        var that = $(this)
        var data = that.serialize()
        login()
        function login() {
          $.ajax({
            url  : '/accounts/login/',
            type : "POST",
            data : data,
            success: function() {
              that.addClass('hidden')
              $('.home-logout').removeClass('hidden')
            }
          })
        }
      })
      </script>

      <div class="jumbotron">
        <div class="">
            <h2 class="text-center"><span style="display:inline-block;padding:5px;border:10px solid black; #f00;font-size:140%;font-weight:bold;">BLACK DREAM</span></h2>
        </div>
      </div>

      <div class="container mycontent">
        {% block content %}{% endblock %}
      </div>

      <footer>
        <div class="footer">
          <div class="darkgray col-md-6">
            <h3 class="quote"><b>Favorite Quote</b></h3>
            <h4 class="foot col-md-8 col-md-offset-2">“There is no better than adversity. Every defeat, every heartbreak, every loss contains it own seed, its own lesson on how to improve your performance next time.” Malcolm X</h4>
          </div>
          <div class="darkgray col-md-6">
            <h3>recent posts</h3>
            {% for recent_post in posts %}
              <a class="foot-post" href="{% url 'posts:detail' pk=recent_post.pk %}">{{recent_post.title}}</a>
              <p class="foot-post">{{recent_post.details|truncatechars:30}}</p>
            {% endfor %}
          </div>
        </div>
      </footer>

      <script src="{% static 'js/app.js' %}"></script>
      {% block javascript %}{% endblock %}
    </div>
  </body>
</html>
