{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block javascript %}
<script>
    var replyObject = 'post'
</script>
<script type="text/javascript" src="{% static 'js/replies.js' %}"></script>
{% endblock %}
{% block content %}
  <h2>{{post.title}}</h2>
  <h3>{{post.details}}</h3>
  <div class="container">
    <form class='reply-form' method="post">
      {% csrf_token %}
      {% bootstrap_form reply_form %}
      <input id='reply-button' type='submit' name='post-reply-{{post.id}}' class='btn btn-primary' value='Post Reply'>
    </form>
    <div class="replies-list">
      {% for reply in post_replies %}
        {% if reply.user == request.user %}
          <div>
            <h4>{{reply.text}}</h4>
            <p>
              <a class='delete' id='reply-{{reply.pk}}' href='#'>
                <span class='glyphicon glyphicon-remove text-danger'></span>
                <span class='text-danger icon-label'>Delete</span>
              </a>
            </p>
            <p>On: {{reply.created_at}}</p>
          </div>
        {% else %}
          <div>
            <h4>{{reply.text}}</h4>
            <p>Posted by: {{reply.user}}</p>
            <p>On: {{reply.created_at}}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
