{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block javascript %}
  <script>
    $('a.delete').on('click',function(e){
      e.preventDefault();
      console.log('delete prevented');
    })

    $('.reply-form').on('submit',function(e){
      e.preventDefault();
      var that = $(this)
      var reply = $('#reply').val()
      var postId = document.getElementById('reply-button').getAttribute('name').slice(11,document.getElementById('reply-button').getAttribute('name').length)
      makeReply();
      function makeReply(){
        $.ajax({
          url       : "{% url 'replies:create' %}",
          type      : "POST",
          data      : {reply:reply, postId:postId},
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          success : function(json){
            $('.post-replies').prepend("<h4>"+json.text+"</h4><p>Posted by: "+ json.username+" <a class='delete' id='reply-"+json.id+"' href='#'>Delete</a></p>")
            document.getElementById('reply').value = ''
          }
        })
      }
    })
  </script>
{% endblock %}
{% block content %}
  <h2>{{post.title}}</h2>
  <h3>{{post.details}}</h3>
  <div class="container">
    <form class='reply-form' method="post">
      {% csrf_token %}
      {% bootstrap_form reply_form %}
      <input id='reply-button' type='submit' name='post-reply-{{post.id}}' class='btn btn-primary' value='Post Reply'>
    </form>
    <div class="post-replies">
      {% for reply in post_replies %}
        {% if reply.user == request.user %}
          <h4>{{reply.text}}</h4>
          <p>Posted by: {{reply.user}} <a class='delete' id='reply-{{reply.pk}}' href='#'>Delete</a></p>
          <p>On: {{reply.created_at}}</p>
        {% else %}
          <h4>{{reply.text}}</h4>
          <p>Posted by: {{reply.user}}</p>
          <p>On: {{reply.created_at}}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
