{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block javascript %}
  <script>
    $('div.post-replies').on('click','a',function(e){
      e.preventDefault();
      var that = $(this)
      var replyId = that.attr('id').slice(6,that.attr('id').length)
      deleteReply();
      function deleteReply(){
        $.ajax({
          url : "/replies/delete/"+replyId,
          type : "DELETE",
          data : {replyId:replyId},
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          success : function(json){
            $('#reply-'+json.id).parent().parent().addClass('hidden')
          }
        })
      }
    })

    $('.reply-form').on('submit',function(e){
      e.preventDefault();
      var that = $(this)
      var reply = $('#reply').val()
      var postId = document.getElementById('reply-button').getAttribute('name').slice(11,document.getElementById('reply-button').getAttribute('name').length)
      makeReply();
      function makeReply(){
        $.ajax({
          url       : "{% url 'replies:create' %}",
          type      : "POST",
          data      : {reply:reply, postId:postId},
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          success : function(json){
            $('.post-replies').prepend("<div><h4>"+json.text+"</h4><p><a class='delete' id='reply-"+json.id+"' href='#'><span class='glyphicon glyphicon-remove text-danger'></span><span class='text-danger icon-label'>Delete</span></a></p></div>")
            document.getElementById('reply').value = ''
          }
        })
      }
    })
  </script>
{% endblock %}
{% block content %}
  <h2>{{post.title}}</h2>
  <h3>{{post.details}}</h3>
  <div class="container">
    <form class='reply-form' method="post">
      {% csrf_token %}
      {% bootstrap_form reply_form %}
      <input id='reply-button' type='submit' name='post-reply-{{post.id}}' class='btn btn-primary' value='Post Reply'>
    </form>
    <div class="post-replies">
      {% for reply in post_replies %}
        {% if reply.user == request.user %}
          <div>
            <h4>{{reply.text}}</h4>
            <p>
              <a class='delete' id='reply-{{reply.pk}}' href='#'>
                <span class='glyphicon glyphicon-remove text-danger'></span>
                <span class='text-danger icon-label'>Delete</span>
              </a>
            </p>
            <p>On: {{reply.created_at}}</p>
          </div>
        {% else %}
          <div>
            <h4>{{reply.text}}</h4>
            <p>Posted by: {{reply.user}}</p>
            <p>On: {{reply.created_at}}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
